<% if @tasks.any? %>
  <% @tasks.each do |task| %>
  <% if task.completed %>
    <i class="far fa-check-square"></i>
  <% else %>
    <i class="far fa-square"></i>
  <% end %>
  <%= link_to task.title, task_path(task) %>
  <%= link_to task_path(task), method: :delete, data: { confirm: "Are you sure you want to delete?" } do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
  <% end %>
  <br>
<% else %>
  <p><strong>You have no tasks! Click below to add one.</strong></p>
<% end %>
<br>
<%= link_to 'Add a new task', new_task_path %>
