// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-stack: Arial;
$primary-color: #000000;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
